<div class="container mx-4">
    <div class="row">
        <div class="col-12 col-md-12 ">
            <h1 class="my-2">Overview</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 col-md-4">
            <div class="card" >
                <div class="card-body text-center ">
                  <h2 class="card-title">Elected Projects </h2>
                  <h2 class="text-success bidprojects mt-2">{{details.number_of_bidding_projects}}</h2>
                </div>
              </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card " >
                <div class="card-body text-center">
                  <h2 class="card-title">Total Rewards Spent (OmDollars)</h2>
                  <h2 class="text-warning bidprojects mt-2">{{details.rewarded_amount}}</h2>
                 
                  </div>    
              </div>
        </div>
        <!-- <div class="col-12 col-md-3">
            <div class="card " >
                <div class="card-body text-center">
                  <h2 class="card-title">Users</h2>
                  <h2>10</h2>
                 
                  </div>
              </div>
        </div> -->
    </div>
    
</div>
