<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <h1 class="my-2">Reward History : {{totalDataCount}}</h1>
        </div>
    </div>
    <div class="row  my-3 justify-content-between">
        <!-- <div class="col-5 col-md-5 col-lg-3">
            <input type="text" placeholder="Search Reward" [(ngModel)]="searchReward" >
        </div> -->
        <div class="col-7 col-md-7 col-lg-4">
          <div class="input-group">
            <input type="search"  class="form-control" placeholder="Search Reward" [(ngModel)]="searchReward"  (input)="onSearchInput()">
            <span class="input-group-text"> 
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
      </div>
    </div>
      <div class="row">
        <div class="col-12 col-md-12">
            <div class="mat-elevation-z8">
              <table class="table " id="excel-table">
                <thead >
                    <tr >
                      <th scope="col">Sl No.</th>
                      <th scope="col">Project Id <i class="fa-solid fa-sliders" [class.active]="sortValue=='project__p_id'" id="sortIcon" (click)="applySort('project__p_id','Project Id')"></i></th>
                      <th scope="col">Project Name  <i class="fa-solid fa-sliders" [class.active]="sortValue=='project__project_name'" id="sortIcon" (click)="applySort('project__project_name','Project Name')"></i></th>
                      <th scope="col">Reward(OmDollar) <i class="fa-solid fa-sliders" [class.active]="sortValue=='total_rewards'" id="sortIcon" (click)="applySort('total_rewards','Reward')"></i></th>
                      <th scope="col">Action</th>
                      <!-- <th scope="col">Delete</th> -->
                    </tr>
                  </thead>
                  <tbody *ngIf="allReward.length==0">
                    <tr class="no-data">
                      <td colspan="14">No data available in table</td>
                  </tr>
                  </tbody>
                  <tbody  *ngIf="allReward.length!=0">
                    <tr *ngFor='let item of allReward; let i=index' >
                     <td>{{getContinuousIndex(i)}}</td>
                     <td>{{item.project__p_id }}</td>
                     <td>{{item.project__project_name }}</td>
                     <td>{{item.total_rewards }}</td>
                     <td><a (click)="viewTask(item.project__id)">View</a></td>
                    
                    </tr>
                   
                  </tbody>
              </table>
  
              </div>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
              
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="totalPageLength"
        showFirstLastButtons
        (page)="pageChanged($event)"
        aria-label="Select page of periodic elements">
  </mat-paginator>
      </div>
    </div>
</div>

