<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <h1 class="my-2">Elected Projects : {{totalDataCount}}</h1>
        </div>
    </div>
    <div class="row  my-3 justify-content-between">
      <div class="col-7 col-md-7 col-lg-4">
        <div class="input-group">
          <input type="search"  class="form-control" placeholder="Search Project" [(ngModel)]="searchProject"  (input)="onSearchInput()" >
          <span class="input-group-text"> 
              <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
    </div>
      <!-- <div class="col-5 col-md-5 col-lg-3">
          <input type="text" placeholder="Search Bid Projects" [(ngModel)]="searchProject" >
      </div> -->
      <div class="col-5 col-md-5 col-lg-3"  *ngIf="role=='Project Owner'">
        <a routerLink="../create"><button class="card-btn btn">&#43; Start Elect</button></a>
      </div>
  </div>
    <div class="row">
        <div class="col-12 col-md-12">
          <div class="mat-elevation-z8">
            <table class="table " id="excel-table">
              <thead >
                  <tr >
                    <th scope="col">Sl No.</th>
                    <th scope="col">Project Id</th>
                    <th scope="col">Project Name <i  *ngIf="arrow" (click)="sort('asc','project_id__project_name')" class="fa fa-sort-up"></i><i (click)="sort('desc','project_id__project_name')" *ngIf="!arrow" class="fa fa-sort-down"></i></th>
                    <th scope="col">Task Hours (Hours)</th>
                    <th scope="col">OmDollar Rate (Omdollar/hour)</th>
                    <!-- <th scope="col">Status</th> -->
                    <!-- <th scope="col">Edit</th> -->
                    <th scope="col"  *ngIf="role=='Project Owner'">Delete</th>
                  </tr>
                </thead>
                <tbody *ngIf="allBidProject.length==0">
                  <tr class="no-data">
                    <td colspan="14">No data available in table</td>
                </tr>
                </tbody>
                <tbody  *ngIf="allBidProject.length!=0">
                  <tr *ngFor='let item of allBidProject|sort:directionValue:sortValue ; let i=index' >
                    <td>{{getContinuousIndex(i)}}</td>
                    <td>{{item.project_id__p_id}}</td>
                   <td>{{item.project_id__project_name}}</td>
                   <td>{{item.project_id__estimated_hours}}</td>
                   <td>{{item.project_id__hourly_rate}}</td>
                   <!-- <td>
                    <button (click)="id(item.id)"  data-bs-toggle="modal" data-bs-target="#editModal" style="border: none;background-color: inherit;" ><i class="fas fa-edit"></i></button> 
                   </td> -->
                   <td  *ngIf="role=='Project Owner'  ">
                    <button *ngIf="!item.rewarded" (click)="id(item.id)" data-bs-toggle="modal" data-bs-target="#deleteModal"  style="border: none;background-color: inherit;" data-toggle="tooltip" data-placement="top" title="Delete" > <i class="fas fa-trash-alt" style="color: red;"></i></button> 
                    <span *ngIf="item.rewarded">N.A</span>
                   </td>
                  </tr>
                 
                </tbody>
            </table>

            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
              
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="totalPageLength"
        showFirstLastButtons
        (page)="pageChanged($event)"
        aria-label="Select page of periodic elements">
  </mat-paginator>
      </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Confirmation!</b></h5>
       
      </div>
      <div class="modal-body">
        Are you sure want to edit?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
        <button (click)="editRoute()" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Confirmation!</b></h5>
      </div>
      <div class="modal-body">
        Are you sure want to delete?
      </div>
      <div class="modal-footer">
        <button #deleteClose type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
        <button (click)="delete()" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>
