<div class="container">
    <div class="row ">
        <div class="col-12 col-md-12">
            <h1 class="my-2"><a routerLink="../"><i class="fas fa-long-arrow-left"></i></a>Create Role</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <h2 >Enter Role Details</h2>
        </div>
    </div>
   <div class="row">
        <div class="col-12 col-md-11 col-lg-11 my-4 mb-4">
            <div class="box">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 my-2">
                        <label for="">Role Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 my-2">
                        <input type="text" placeholder="Role Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 my-2">
                        <label for="">Access</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 my-2">
                        <input type="text" placeholder="Access">
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-12 col-md-5 col-lg-3 my-2">
                        <button class="card-btn btn">Create</button>
                    </div>
                </div>
            </div>
        </div>
   </div>
    
</div>

