<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 ">
            <h1 class="my-2">Masters</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
           <a routerLink="./rate-card">
            <div class="card" >
                <div class="card-body text-center ">
                  <h2 class="card-title">Rate Card</h2>
                  <h2 class="rate_no my-2">10</h2>
                </div>
              </div>
           </a>
        </div>
        <div class="col-12 col-md-3">
           <a routerLink="./role">
            <div class="card " >
                <div class="card-body text-center">
                  <h2 class="card-title">Role</h2>
                  <h2 class="rate_no my-2">10</h2>
                  </div>
              </div>
           </a>
        </div>
        <div class="col-12 col-md-3">
            <a routerLink="./status">
                <div class="card " >
                    <div class="card-body text-center">
                      <h2 class="card-title">Status</h2>
                      <h2 class="rate_no my-2">10</h2>
                      </div>
                  </div>
            </a>
        </div>
    </div>
</div>
