<mat-sidenav-container class="container-fluid p-0" >
	<mat-sidenav class="sidenav" #sidenav [mode]="mode" [opened]="openSidenav"  > 
		<!-- (click)="sidenav.toggle()" -->
		<div class="container">
			<div class="card mt-3 mb-1">
				<div class="card-body">
				  <h1 (click)="goToHome()">OmDollar</h1>
				</div>
			  </div>
			  <div class="card mt-1">
				<div class="card-body">
				  <a  data-toggle="tooltip" data-placement="top" title="View key insights about project detials and rewards"  *ngIf="role=='Project Owner'" routerLink="./dashboard"><li> <span><i class="fa-regular fa-credit-card fa-xl"></i></span> Overview</li></a>
				  <a  data-toggle="tooltip" data-placement="top" title="Create a project or view existing project details" *ngIf="role=='Project Owner' || role=='Supervisor'" routerLink="/inner/officials/project"> <li> <span><i class="fas fa-tasks fa-xl"></i></span>My Projects</li></a>
				  <a  data-toggle="tooltip" data-placement="top" title="Create a bid for an active project or view existing bids" *ngIf="role=='Project Owner' || role=='Supervisor'" routerLink="/inner/officials/bid"> <li> <span><i class="fas fa-gavel fa-xl"></i></span>Elect Project</li></a>
				  <a  data-toggle="tooltip" data-placement="top" title="View volunteer detials - to accept or reject a volunteer" *ngIf="role=='Project Owner' || role=='Supervisor'" routerLink="/inner/officials/submittal"><li> <span><i class="fas fa-users fa-xl"></i></span> Volunteer Pool</li></a>
				  <a   data-toggle="tooltip" data-placement="top" title="Manage projects and track tasks" *ngIf="role=='Project Owner' || role=='Supervisor'" routerLink="/inner/officials/bid-project-management"> <li> <span><i class="fa fa-file-edit fa-xl"></i></span> Project Management</li></a>
				  <!-- <a  *ngIf="role=='Project Owner' || role=='Supervisor'" routerLink="/inner/officials/reward"> <li> <span><i class="fa fa-sack-dollar fa-xl"></i></span> Rewards</li></a> -->
				  <a  data-toggle="tooltip" data-placement="top" title="View rewards spent on a task and project level" *ngIf="role=='Project Owner' || role=='Supervisor'" routerLink="/inner/officials/reward/view"> <li> <span><i class="fas fa-file-invoice-dollar fa-xl"></i></span> Reward History</li></a>
				  <!-- <a  *ngIf="role=='Project Owner' || role=='supervisor'" routerLink="/inner/officials/master"><li> <span><i class="fas fa-receipt fa-xl"></i></span> Master</li></a> -->
				  <!-- <a  *ngIf="role=='Project Owner' " routerLink="/inner/officials/supervisor"><li> <span><i class="fas fa-user-shield fa-xl"></i></span>Supervisor</li></a> -->
				  <a  data-toggle="tooltip" data-placement="top" title="View or apply to projects" *ngIf="role=='Volunteer'" routerLink="/inner/student/project"><li> <span><i class="fas fa-tasks fa-xl"></i></span>Project Opportunities</li></a>
				  <a  data-toggle="tooltip" data-placement="top" title="Create a task and log hours" *ngIf="role=='Volunteer'" routerLink="/inner/student/project-management"><li> <span><i class="fa fa-file-edit fa-xl"></i></span>My Projects</li></a>
				  <a data-toggle="tooltip" data-placement="top" title="View rewards credited" *ngIf="role=='Volunteer'" routerLink="/inner/student/reward"><li> <span><i class="fa fa-sack-dollar fa-xl"></i></span>My Rewards</li></a>
				  <a data-toggle="tooltip" data-placement="top" title="View or create user role" *ngIf="role=='Super Admin'" routerLink="/inner/super-admin"><li> <span><i class="fas fa-users fa-xl"></i></span>User</li></a>
				  <a data-toggle="tooltip" data-placement="top" title="View or create user role" *ngIf="role=='Super Admin'" routerLink="/inner/super-admin/over-view"><li> <span><i class="fa fa-file-edit fa-xl"></i></span>Overview</li></a>
				  <!-- <a *ngIf="role=='Volunteer'" routerLink="/inner/student/reward"><li> <span><i class="fa fa-sack-dollar fa-xl"></i></span>Reward</li></a> -->
				</div>
			  </div>
		</div>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="content-container ">
			<div >
				<div class="row menu-border" >
					<div class="col-2 ">
						<button mat-icon-button color='primary' (click) ='toggleSideNav()'class ='toogleSidenav'>
							<mat-icon >menu</mat-icon>
					 </button>
					
					</div>
					<div class="col-8 text-end  pr">
					<!-- <span class="mx-2 "><img class="mt-3" src="../../assets/images/notifications.png" alt=""></span> -->
					</div>
					<div class="col-2 text-start  pl" >
							<div class="btn-group dropleft">
								<button  type="button" class="btn-profile mt-2 mr-2" data-bs-toggle="dropdown" aria-expanded="false">
									<!-- <div class="circle">
										<img src="../../../assets/images/bio.png" alt="">
									</div> -->
								</button>
								<ul class="dropdown-menu">
								  <li ><a class="dropdown-item" >Profile</a></li>
								  <!-- <li><a class="dropdown-item" >Settings</a></li> -->
								  <li (click)="logout()"><a class="dropdown-item" >Logout</a></li>
								</ul>
							  </div>	
					</div>
				</div>
			</div>
	  <mat-toolbar class="box" >
		<div [ngClass]="showToolbar">
			<div class="row" >
				<div class="input-group  mt-3">
					<p data-toggle="tooltip" data-placement="top" title="Refresh the page to update the OmDollar balance!" class="m-2" *ngIf="role =='Volunteer'" [ngClass]="{'p-minus':wallet_amount<=0,'p-good':wallet_amount>=0, 'p-great':wallet_amount>2500}">OmDollar Balance: {{wallet_amount}}</p>
					<!-- <span class="input-group-text m-0 ml-2" id="basic-addon1"><img src="../../assets/images/search.png" alt=""></span>
					<input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
					<span class="mx-2 mt-2"><img src="../../assets/images/notifications.png" alt=""></span> -->
					<div class="dropdown">
						<button class="btn  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<div class="row">
								<div class="col pr mt-1">
									<div class="circle-lg">
										<img src="../../../assets/images/bio.png" alt="">
									</div>
								</div>
								<div class="col text-start pl-0">
									<p>{{username | titlecase}} </p>
									<p>{{role | titlecase}}</p>
								</div>
							</div>
						</button>
						<ul class="dropdown-menu">
						  <li data-bs-toggle="modal" data-bs-target="#viewProfileModal"><a class="dropdown-item">Profile</a></li>
						  <!-- <li><a class="dropdown-item">Settings</a></li> -->
						  <li data-bs-toggle="modal" data-bs-target="#logoutModal"><a class="dropdown-item">Logout</a></li>
						</ul>
					  </div>
				</div>	
			</div>
		</div>
	</mat-toolbar>
		</div>
        <router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel"><b>Confirmation!</b></h5>
		 
		</div>
		<div class="modal-body">
		  Are you sure want to Logout?
		</div>
		<div class="modal-footer">
		  <button  #logoutClose type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
		  <button (click)="logout()" type="button" class="btn btn-primary">Yes</button>
		</div>
	  </div>
	</div>
  </div>




  <div class="modal fade" id="viewProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
			<h2>Profile</h2>
		  <!-- <h5 class="modal-title" id="exampleModalLabel">	<mat-card><mat-card-title ><img src="../../../assets/images/bio.png" alt=""  class="mx-2">Profile Information</mat-card-title></mat-card></h5> -->
		 
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-12 px-5">
					<img src="/assets/images/user7777.png" alt="profile-image" height="195px" width="195px">
				</div>
			</div>
			<div class="profile" style="overflow-x: hidden !important;">
				<mat-card *ngFor="let user of profile">

					
				  <!-- <mat-card-header>
					<div mat-card-avatar class="profile-image" ></div>
					<mat-card-subtitle class="mx-3">User Name: {{user?.user_name}}</mat-card-subtitle>
				
					<mat-card-subtitle class="mx-3">Email: {{user?.email}}</mat-card-subtitle>
					<mat-card-subtitle class="mx-3">Role: {{user?.role_id__name}}</mat-card-subtitle>
				  </mat-card-header> -->
				  <mat-card-content>
					<h1 class="mx-5 m-0 p-0 text-dark">User Name: {{user.user_name}}</h1>
					<p class="text-dark mx-5">Email: {{user.email}}</p>
					<p class="text-dark mx-5">Role: {{user.role_id__name}}</p>

					<!-- <form [formGroup]="resumeUploadForm" (ngSubmit)="create()">
						<div class="row mx-3" *ngIf="role=='Volunteer'" class="">
							<div class="col-12 col-md-12 col-lg-12 my-1 mx-5 px-0">
								<label for=""> Upload Resume<span class="p-error">*</span></label>
							</div>
						</div>
						<div class="row" *ngIf="role=='Volunteer'">
							
							<div class="col-12 col-md-12 col-lg-12 mb-3" class="mx-5 px-2">
								<input type="file" placeholder="Resume" formControlName="document" style="width: 50%;" (change)="onFileSelected($event)" name="resume" accept=".pdf, .doc, .docx" >
								<small *ngIf="error &&  f['document'].invalid" class="p-error">Resume is required.</small>
							   
							</div>
						  
						</div>
						<button *ngIf="role=='Volunteer'" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
					</form> -->
					
					<!-- <mat-tab-group>
					  <mat-tab label="About">
						<mat-card-subtitle class="">Age: {{user?.age}}</mat-card-subtitle>
						<mat-card-subtitle class="">Phone: {{ user.phone_number }}</mat-card-subtitle>
						<mat-card-subtitle class="">Address: {{user?.address}}</mat-card-subtitle>	
							
					  </mat-tab>
					  


					 
					</mat-tab-group> -->
				  </mat-card-content>


				</mat-card>
			</div>
			  
			<!-- <div class="profile">
				<h2>User Profile</h2>
				<div class="user-info">
					<div class="circle-lg">
						<img src="../../../assets/images/bio.png" alt="">
					</div>


				  <div class="user-details" *ngFor="let user of profile ">
					<div><strong class="heading">User Name:{{user?.user_name}}</strong> </div>
					<div><strong  class="heading">First Name:{{user?.first_name}}</strong> </div>
					<div><strong  class="heading">Last Name:{{user?.last_name}}</strong> </div>
					<div><strong  class="heading">Role:{{user?.role_id__name}}</strong> </div>
					<div><strong  class="heading">Email:{{user?.email}}</strong> </div>
					<div><strong  class="heading">Age:{{user?.age}}</strong> </div>
					<div><strong  class="heading">Address:{{user?.address}}</strong></div>
				  </div>
				
				</div>
			  </div> -->
			  
		</div>
	
		<div class="modal-footer">
			<button  type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
			
		 <li data-bs-toggle="modal" data-bs-target="#editModal" *ngIf="role=='Volunteer' || role=='Project Owner' || role=='Supervisor'" ><button   type="button" class="btn btn-secondary" >Edit Profile</button></li>  
		  <!-- <button (click)="edit()" type="button" class="btn btn-primary">Yes</button> -->
		</div>
	  
	 </div>
	</div>
  </div>






  
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel"><b>Confirmation!</b></h5>
		</div>
		<div class="modal-body">
		  Are you sure want to edit Profile?
		</div>
		<div class="modal-footer">
		  <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal" >No</button>
		  <button (click)="edit(id)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
		</div>
	  </div>
	</div>
  </div>